@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Dosis:wght@300;400;500;600;700;800&family=Lilita+One&family=Mogra&display=swap');

.availableFlights{
  font-family: 'Lilita One', cursive;
  margin: 10px;
  text-align: center;
  color: #f39c12;
  font-size: 25px;

}
.margin{
  margin:5px !important
  
}

.dorpDownMainContainer{
  
}

.dorpDownContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.buttonMainPosition{
  display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}