.availableFlights{
  font-family: 'Lilita One', cursive;
  margin: 10px;
  text-align: center;
  color: var(--main-color);
  font-size: 25px;

}
.margin{
  margin:5px !important
  
}

.dorpDownContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.buttonMainPosition{
  display: flex;
    margin:var(--main-margin-small);
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}