.mainHeaderContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.centerHeaderContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.centerHeaderContainerSecondSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.mockedDiv {
  width: 100px;
}

.titleText {
  font-family: 'Lilita One', cursive;
  font-weight: bold;
  justify-items: 50%;
  font-size: 90px;
  color: var(--main-color);
  text-align: center;


}

.titleDescription {
  font-family: 'Lilita One', cursive;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.travel{
  right: 8%;
  position: absolute;
}

.discoverContainer{
  width: 25%;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: var(--main-color) !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover{
  background-color: var(--main-color-hover) !important;
}

.centerSectionWidth{
  width: 60%;
}

.fullSectionWidth{
  width: 100%;
}

