@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Dosis:wght@300;400;500;600;700;800&family=Lilita+One&family=Mogra&display=swap');

.mainFooterContainer{
  text-align: center;
  width: 100%;
  background-color: #f39c12a1;
  height: 50px;
  color: #fff;
  line-height: 2;
  font-family: 'Lilita One', cursive;
  font-size: 25px;

}