.bookContainer{
  min-height: 100%;
}
.bookFlightHeader{
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
  font-family: 'Lilita One', cursive;


}

.bookSectionCenter{
  text-align: center;
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.bookFlightDescription{
  color: var(--main-color);
  font-family: 'Lilita One', cursive;
  font-size: 30px;


}

.selectedDepartureTime{
  width: 70%;
  margin: var(--main-margin-small);
}