html,.App,#root{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color:rgb(235 217 217 / 6%);
  height: 100%;
  width: 100%;

}

.imageSize{
  max-width: 100%;
}

.firstSectionWidth,
.lastSectionWidth {
  width: 20%;
}
