@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --background-color: #fcfaf7;
  --success-color: #4BB543;
  --main-color: #f39c12;
  --main-color-hover: #b4750e;
  --border-radius: 3px;
  --main-margin-large: 20px;
  --main-margin-small: 10px
}

html,
.App,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: 'Lilita One', cursive;

}

.imageSize {
  max-width: 100%;
}

.firstSectionWidth,
.lastSectionWidth {
  width: 20%;
}